@charset "utf-8";

@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic");
@import url("normalize.css");
@import url("skeleton.css");

body{
  font-family:'Noto Serif',sans-serif;
}
#breadcrumb{
  font-family:'Noto Sans',sans-serif;
  font-size: 1.25rem;
  padding: 0 0 2em 0;
  line-height:175%;
}

a{
  text-decoration:none;
}
a:hover{
  text-decoration:underline;
}
.verse{
  padding: 0.5rem 0;
}
.verse > a{
  vertical-align: super;
  color: #999;
  font-size: 1rem;
}
.verse > a:hover{
  text-decoration:none;
}
.verse.note{
  font-style: italic;
}
.container {
  max-width: 640px;
}
#content{
  padding:2em 0;
  font-size:1.75rem;
  line-height:190%;
}
#content .details{
  font-size:1.5rem;
  line-height:160%;
  font-family:'Noto Sans',sans-serif;
}
#content ul{
  font-family:'Noto Sans',sans-serif;
  font-size:1.5rem;
  line-height:120%;
  list-style-type:none;
}
.book #content ul, .bible #content ul{
  -webkit-columns: 200px 3;
  -moz-columns: 200px 3;
  columns: 200px 3;
}
